
.handle-cursor {
    cursor: pointer;
}

.vertical-main {
    display: table !important;
}

.vertical-middle {
    display: table-cell;
    vertical-align: middle;
}

.overflow-x-auto {
    overflow-x: auto;
}

.main-container {
    font-family: 'Open Sans',sans-serif;
    color: #333;
    font-weight: 300;
}

.border-t {
    border-top: 1px solid #d2d7da;
}
.border-b {
    border-bottom: 1px solid #d2d7da;
}
