.navbar-logo {
    display: block;
    margin: 0 2rem 0 1.2rem;
    width: 15.6rem;
    height: 3.2rem;
    background: url('../../public/images/logo.png') 0 -52rem / 32.2rem 139rem no-repeat;
    text-indent: -9999rem;
}

.logo-img {
    width: 156px;
}