
.ld {
    background: #0639a8;
    overflow: auto;
    padding: 21px 0 28px;
    font-size: 10px;
}

.ld-content {
    max-width: 1024px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.ld-container {
    padding: 0px 30px;
}

.ld-content-left, .ld-content-right {
	padding: 5rem 0;
	h1 {
		text-shadow: 0 1px 2px rgba(0,0,0,.86);
        color: #fff;
        font-size: 5em;
        font-weight: 300;
        line-height: 1;
        text-align: center;
        padding: 0 60px;
	}
}

.ld-video {
    text-shadow: 0 4px 2px #000;
    color: #fff;
    font-size: 20px;
    line-height: 1;
    text-align: center;
}

.ld-video-cta {
	display: block;
	padding: 0;
	margin: 50px auto;
	text-indent: -9999px;
	width: 89px;
	height: 88px;
	background: url(../../public//images/download.png) 0 0 / 89px auto no-repeat;
	&:hover {
		opacity: .9;
	}
	&:focus {
		outline-color: #fff;
	}
}

.sb-cta, [role="button"] {
    font-family: inherit;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    transition: all .15s ease-out;
}

.ld-form-wrapper {
    width: 100%;
    max-width: 360px;
    margin: auto;
    position: relative;
}

.ld-signup-bonus {
    display: inline-block;
    position: absolute;
    top: 12px;
    right: -10px;
    z-index: 10;
    overflow: hidden;
    font-family: 'Open Sans',sans-serif;
}

.ld-signup-bonus:before, .ld-signup-bonus:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 3px 20px 0;
    border-color: transparent #f3b376 transparent transparent;
}

.ld-signup-bonus-inner {
    display: flex;
    align-items: center;
    background-color: #f3b276;
    padding: 4px 7px 6px;
    color: #fff;
    font-size: 3.1em;
    font-weight: 700;
    line-height: 1;
    text-shadow: 1px 1px #dca36f;
    margin-left: 3px;
    margin-bottom: 5px;
}

.ld-signup-bonus-inner:before, .ld-signup-bonus-inner:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 10px 0 0;
    border-color: #d08d4e transparent transparent transparent;
}

.ld-signup-bonus-inner:after {
    border-width: 0 100px 5px 0;
    border-color: transparent #000 transparent transparent;
    opacity: .15;
    right: 10px;
}

.ld-bonus-amount {
    vertical-align: top;
    sup {
        display: inline-block;
        font-size: .55em;
        font-weight: 500;
        margin-top: 2px;
    }
}

.ld-bonus-word {
    display: inline-block;
    text-transform: uppercase;
    font-size: .64em;
    font-weight: 600;
    vertical-align: top;
    margin: 2px 5px 0;
}

.ld-bonus-word:before, .ld-bonus-word:after {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    box-shadow: 1px 1px #dca36f;
}

.ld-bonus-word:after {
    margin-top: .2rem;
}

.ld-bonus-asterisk {
    display: inline-block;
    font-size: .6em;
    font-weight: 400;
    align-self: flex-start;
    margin-top: 3px;
}

.ld-form {
    width: 100%;
    padding: 15px 10px 10px;
    background-color: rgba(255,255,255,.9);
    border-radius: 8px;
    box-sizing: border-box;

    .btn {
        width: 100%;
        padding: 13px 0;
        color: #fff;
        font-size: 1.6em;
        font-weight: 700;
        line-height: 1;
        background-color: #376df5;
        border-radius: 4px;
        position: relative;
    }

    .btn:hover {
        background-color: #1152f5;
    }
}

.has-signup-bonus .ld-form-title {
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 1.6em;
}

.ld-content-reason {
    padding: 0px 30px;
    div {
        text-align: center;
        h3 {
            color: #000;
            margin-bottom: 25px;
        }
        span {
            font-size: 17px;
        }
    }
}

.ld-reason-item {
    color: orange;
    padding-top: 16px;
    p {
        font-size: 17px;
    }
}
.ld-reason-item-icon {
    font-size: 50px;
}

.ld-counter {
    padding: 0px 30px;
    div {
        text-align: center;
        h3 {
            color: #000;
            margin-bottom: 25px;
        }
    }
}

.flip-counter-wrapper {
    font-family: 'Open Sans',sans-serif;
    font-size: 6em;
    line-height: 1.462;
    font-weight: 500;
    color: #6bb0c6;
    text-align: center;
}

.flip-counter {
    display: inline-block;
    position: relative;
    background-color: #2e8da9;
    border-radius: .123em;
    color: #fff;
    line-height: 1;
    padding: .277em;
    vertical-align: bottom;
    margin-left: .108em;
}

.flip-counter-frame {
    position: relative;
    display: inline-block;
    height: 1.08em;
    width: .8em;
    border-radius: .123em;
    margin: 0 .0385em;
    background-color: #89cddc;
    overflow: hidden;
    vertical-align: middle;
}

.flip-counter-frame:before {
    content: '';
    position: absolute;
    top: .0154em;
    left: 0;
    width: 100%;
    height: .54em;
    background-color: #6bb0c6;
    z-index: 0;
    border-top-left-radius: .1385em;
    border-top-right-radius: .1385em;
}

.flip-counter-frame:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .54em;
    background-color: #5fa3b8;
    z-index: 0;
}

.flip-counter-digit {
    position: relative;
    z-index: 1;
    line-height: 1;
}

.flip-counter-digit:before {
    content: '';
    position: absolute;
    top: -.17em;
    bottom: 0;
    left: 100%;
    height: .0155em;
    width: 300%;
    margin: auto;
    background-color: #5fa3b8;
    box-sizing: border-box;
    z-index: 2;
}

.flip-counter-digit:after {
    content: '';
    position: absolute;
    top: .05em;
    bottom: 0;
    left: -100%;
    height: .0155em;
    width: 300%;
    margin: auto;
    background-color: #85cde5;
    box-sizing: border-box;
    z-index: 2;
}

@media(max-width:47.9375em) {
    .flip-counter-wrapper {
      font-size: 3.5em;
    }
}
  
@media(max-width:23.375em) {
    .flip-counter-wrapper {
      font-size: 2.7em !important;
    }
}

.ld-testimonial {
    padding: 0px 30px;
}

.ld-content .testimonialA {
    padding-left: 120px;
    max-width: 575px;
    margin: 0 auto;
}

.ld-content .icon-testimonial {
    position: relative;
    line-height: 106px;
    min-height: 106px;
    &::before {
        content: '';
        border-radius: 50%;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        width: 100px;
        height: 100px;
        border: 3px solid #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

.ld-testimonial-left {
    text-align: right;
}

.ld-testimonial-left img {
    width: 122px;
    border: 5px solid orange;
}

.ld-testimonial-right {
    text-align: left;
}

@media(max-width: 768px){
    .ld-testimonial-left, ld-testimonial-right {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.testimonial {
    font-size: 24px;
    color: black;
    text-align: center;
}

.testimonial-meta{
    font-size: 14px;
    color: #999;
}

.testimonial-meta-name{
    font-size: 20px;
    color: #666;
}

.ld-content-gc {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    color: orange;

    strong {
        color: blue;
        font-size: 45px;
        vertical-align: middle;
    }
}

.ld-content-signup {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    h2 {
        color: black;
        font-style: italic;
        margin-bottom: 20px;
    }
}

.ld-content-signup-cta {
    font-size: 18px;
    padding-left: 70px;
    padding-right: 70px;
}