@import url(https://fonts.googleapis.com/css?family=Nunito);.navbar-logo {
  display: block;
  margin: 0 2rem 0 1.2rem;
  width: 15.6rem;
  height: 3.2rem;
  background: url(/images/logo.png?fc7ad24f51d5c2869bbcf612067a3877) 0 -52rem/32.2rem 139rem no-repeat;
  text-indent: -9999rem;
}

.logo-img {
  width: 156px;
}

.handle-cursor {
  cursor: pointer;
}

.vertical-main {
  display: table !important;
}

.vertical-middle {
  display: table-cell;
  vertical-align: middle;
}

.overflow-x-auto {
  overflow-x: auto;
}

.main-container {
  font-family: "Open Sans", sans-serif;
  color: #333;
  font-weight: 300;
}

.border-t {
  border-top: 1px solid #d2d7da;
}

.border-b {
  border-bottom: 1px solid #d2d7da;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.bg-white {
  background: #fff;
}

.bg-grey {
  background-color: #f4f6f6;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 10%;
}

.h-100 {
  height: 100%;
}

.h-90 {
  height: 90%;
}

.h-80 {
  height: 80%;
}

.h-70 {
  height: 70%;
}

.h-60 {
  height: 60%;
}

.h-50 {
  height: 50%;
}

.h-40 {
  height: 40%;
}

.h-30 {
  height: 30%;
}

.h-20 {
  height: 20%;
}

.h-10 {
  height: 10%;
}

.w-90px {
  width: 90px;
}

.w-80px {
  width: 80px;
}

.w-70px {
  width: 70px;
}

.w-60px {
  width: 60px;
}

.w-50px {
  width: 50px;
}

.w-40px {
  width: 40px;
}

.w-30px {
  width: 30px;
}

.w-20px {
  width: 20px;
}

.w-10px {
  width: 10px;
}

.h-90px {
  height: 90px;
}

.h-80px {
  height: 80px;
}

.h-70px {
  height: 70px;
}

.h-60px {
  height: 60px;
}

.h-50px {
  height: 50px;
}

.h-40px {
  height: 40px;
}

.h-30px {
  height: 30px;
}

.h-20px {
  height: 20px;
}

.h-10px {
  height: 10px;
}

.m0 {
  margin: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.m-8 {
  margin: 8px;
}

.m-16 {
  margin: 16px;
}

.m-24 {
  margin: 24px;
}

.m-32 {
  margin: 32px;
}

.mt-1 {
  margin-top: 1px;
}

.mt-2 {
  margin-top: 2px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-64 {
  margin-top: 64px;
}

.mb-1 {
  margin-bottom: 1px;
}

.mb-2 {
  margin-bottom: 2px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

.ml-1 {
  margin-left: 1px;
}

.ml-2 {
  margin-left: 2px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-32 {
  margin-left: 32px;
}

.ml-48 {
  margin-left: 48px;
}

.ml-64 {
  margin-left: 64px;
}

.mr-1 {
  margin-right: 1px;
}

.mr-2 {
  margin-right: 2px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-32 {
  margin-right: 32px;
}

.mr-48 {
  margin-right: 48px;
}

.mr-64 {
  margin-right: 64px;
}

.p-8 {
  padding: 8px;
}

.p-16 {
  padding: 16px;
}

.p-24 {
  padding: 24px;
}

.p-32 {
  padding: 32px;
}

.pt-1 {
  padding-top: 1px;
}

.pt-2 {
  padding-top: 2px;
}

.pt-4 {
  padding-top: 4px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-24 {
  padding-top: 24px;
}

.pt-32 {
  padding-top: 32px;
}

.pt-48 {
  padding-top: 48px;
}

.pt-64 {
  padding-top: 64px;
}

.pb-1 {
  padding-bottom: 1px;
}

.pb-2 {
  padding-bottom: 2px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pb-64 {
  padding-bottom: 64px;
}

.pl-1 {
  padding-left: 1px;
}

.pl-2 {
  padding-left: 2px;
}

.pl-4 {
  padding-left: 4px;
}

.pl-8 {
  padding-left: 8px;
}

.pl-16 {
  padding-left: 16px;
}

.pl-24 {
  padding-left: 24px;
}

.pl-32 {
  padding-left: 32px;
}

.pl-48 {
  padding-left: 48px;
}

.pl-64 {
  padding-left: 64px;
}

.pr-1 {
  padding-right: 1px;
}

.pr-2 {
  padding-right: 2px;
}

.pr-4 {
  padding-right: 4px;
}

.pr-8 {
  padding-right: 8px;
}

.pr-16 {
  padding-right: 16px;
}

.pr-24 {
  padding-right: 24px;
}

.pr-32 {
  padding-right: 32px;
}

.pr-48 {
  padding-right: 48px;
}

.pr-64 {
  padding-right: 64px;
}

.ld {
  background: #0639a8;
  overflow: auto;
  padding: 21px 0 28px;
  font-size: 10px;
}

.ld-content {
  max-width: 1024px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  align-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.ld-container {
  padding: 0px 30px;
}

.ld-content-left,
.ld-content-right {
  padding: 5rem 0;
}

.ld-content-left h1,
.ld-content-right h1 {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.86);
  color: #fff;
  font-size: 5em;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  padding: 0 60px;
}

.ld-video {
  text-shadow: 0 4px 2px #000;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  text-align: center;
}

.ld-video-cta {
  display: block;
  padding: 0;
  margin: 50px auto;
  text-indent: -9999px;
  width: 89px;
  height: 88px;
  background: url(/images/download.png?39a901ea3036bc7a0606da12b430dfa8) 0 0/89px auto no-repeat;
}

.ld-video-cta:hover {
  opacity: 0.9;
}

.ld-video-cta:focus {
  outline-color: #fff;
}

.sb-cta,
[role=button] {
  font-family: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.ld-form-wrapper {
  width: 100%;
  max-width: 360px;
  margin: auto;
  position: relative;
}

.ld-signup-bonus {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: -10px;
  z-index: 10;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

.ld-signup-bonus:before,
.ld-signup-bonus:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3px 20px 0;
  border-color: transparent #f3b376 transparent transparent;
}

.ld-signup-bonus-inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  background-color: #f3b276;
  padding: 4px 7px 6px;
  color: #fff;
  font-size: 3.1em;
  font-weight: 700;
  line-height: 1;
  text-shadow: 1px 1px #dca36f;
  margin-left: 3px;
  margin-bottom: 5px;
}

.ld-signup-bonus-inner:before,
.ld-signup-bonus-inner:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 0 0;
  border-color: #d08d4e transparent transparent transparent;
}

.ld-signup-bonus-inner:after {
  border-width: 0 100px 5px 0;
  border-color: transparent #000 transparent transparent;
  opacity: 0.15;
  right: 10px;
}

.ld-bonus-amount {
  vertical-align: top;
}

.ld-bonus-amount sup {
  display: inline-block;
  font-size: 0.55em;
  font-weight: 500;
  margin-top: 2px;
}

.ld-bonus-word {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.64em;
  font-weight: 600;
  vertical-align: top;
  margin: 2px 5px 0;
}

.ld-bonus-word:before,
.ld-bonus-word:after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  box-shadow: 1px 1px #dca36f;
}

.ld-bonus-word:after {
  margin-top: 0.2rem;
}

.ld-bonus-asterisk {
  display: inline-block;
  font-size: 0.6em;
  font-weight: 400;
  align-self: flex-start;
  margin-top: 3px;
}

.ld-form {
  width: 100%;
  padding: 15px 10px 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-sizing: border-box;
}

.ld-form .btn {
  width: 100%;
  padding: 13px 0;
  color: #fff;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1;
  background-color: #376df5;
  border-radius: 4px;
  position: relative;
}

.ld-form .btn:hover {
  background-color: #1152f5;
}

.has-signup-bonus .ld-form-title {
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 1.6em;
}

.ld-content-reason {
  padding: 0px 30px;
}

.ld-content-reason div {
  text-align: center;
}

.ld-content-reason div h3 {
  color: #000;
  margin-bottom: 25px;
}

.ld-content-reason div span {
  font-size: 17px;
}

.ld-reason-item {
  color: orange;
  padding-top: 16px;
}

.ld-reason-item p {
  font-size: 17px;
}

.ld-reason-item-icon {
  font-size: 50px;
}

.ld-counter {
  padding: 0px 30px;
}

.ld-counter div {
  text-align: center;
}

.ld-counter div h3 {
  color: #000;
  margin-bottom: 25px;
}

.flip-counter-wrapper {
  font-family: "Open Sans", sans-serif;
  font-size: 6em;
  line-height: 1.462;
  font-weight: 500;
  color: #6bb0c6;
  text-align: center;
}

.flip-counter {
  display: inline-block;
  position: relative;
  background-color: #2e8da9;
  border-radius: 0.123em;
  color: #fff;
  line-height: 1;
  padding: 0.277em;
  vertical-align: bottom;
  margin-left: 0.108em;
}

.flip-counter-frame {
  position: relative;
  display: inline-block;
  height: 1.08em;
  width: 0.8em;
  border-radius: 0.123em;
  margin: 0 0.0385em;
  background-color: #89cddc;
  overflow: hidden;
  vertical-align: middle;
}

.flip-counter-frame:before {
  content: "";
  position: absolute;
  top: 0.0154em;
  left: 0;
  width: 100%;
  height: 0.54em;
  background-color: #6bb0c6;
  z-index: 0;
  border-top-left-radius: 0.1385em;
  border-top-right-radius: 0.1385em;
}

.flip-counter-frame:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.54em;
  background-color: #5fa3b8;
  z-index: 0;
}

.flip-counter-digit {
  position: relative;
  z-index: 1;
  line-height: 1;
}

.flip-counter-digit:before {
  content: "";
  position: absolute;
  top: -0.17em;
  bottom: 0;
  left: 100%;
  height: 0.0155em;
  width: 300%;
  margin: auto;
  background-color: #5fa3b8;
  box-sizing: border-box;
  z-index: 2;
}

.flip-counter-digit:after {
  content: "";
  position: absolute;
  top: 0.05em;
  bottom: 0;
  left: -100%;
  height: 0.0155em;
  width: 300%;
  margin: auto;
  background-color: #85cde5;
  box-sizing: border-box;
  z-index: 2;
}

@media (max-width: 47.9375em) {
  .flip-counter-wrapper {
    font-size: 3.5em;
  }
}

@media (max-width: 23.375em) {
  .flip-counter-wrapper {
    font-size: 2.7em !important;
  }
}

.ld-testimonial {
  padding: 0px 30px;
}

.ld-content .testimonialA {
  padding-left: 120px;
  max-width: 575px;
  margin: 0 auto;
}

.ld-content .icon-testimonial {
  position: relative;
  line-height: 106px;
  min-height: 106px;
}

.ld-content .icon-testimonial::before {
  content: "";
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.ld-testimonial-left {
  text-align: right;
}

.ld-testimonial-left img {
  width: 122px;
  border: 5px solid orange;
}

.ld-testimonial-right {
  text-align: left;
}

@media (max-width: 768px) {
  .ld-testimonial-left,
  ld-testimonial-right {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.testimonial {
  font-size: 24px;
  color: black;
  text-align: center;
}

.testimonial-meta {
  font-size: 14px;
  color: #999;
}

.testimonial-meta-name {
  font-size: 20px;
  color: #666;
}

.ld-content-gc {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 25px;
  color: orange;
}

.ld-content-gc strong {
  color: blue;
  font-size: 45px;
  vertical-align: middle;
}

.ld-content-signup {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ld-content-signup h2 {
  color: black;
  font-style: italic;
  margin-bottom: 20px;
}

.ld-content-signup-cta {
  font-size: 18px;
  padding-left: 70px;
  padding-right: 70px;
}

